/* FUENTES */
/* COLORES */
* {
  margin: 0px;
  padding: 0px; }

body {
  overflow-x: hidden; }

main {
  background-color: #FDF3DD; }

a {
  text-decoration: none; }

h1 {
  font-family: "Marcellus", serif;
  font-weight: lighter;
  font-size: 3.125rem; }

p {
  font-family: "Marcellus", serif; }

.font-color {
  color: #373D3B; }

.nav-fondo {
  background-color: #F1DFB6; }

.nav_link {
  font-family: "Marcellus", serif;
  font-weight: bold; }
  .nav_link:hover {
    color: black; }

/* .separator::after{
        content: " ";
        height: 4px;
        width: 0;
        color: black;
        display: block;
        transition: all 300ms;
    }

.separator:hover::after{
    width: 100%;
} */
.separator::after {
  content: "   |";
  width: 0.313rem;
  height: 1.25rem; }

.logo {
  width: 2.5rem; }

.page_active {
  text-decoration: underline; }

.card_font {
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  border-radius: 1.25rem;
  /* margin-right: 20px; */ }

.card_img {
  margin-top: 4.688rem;
  margin-bottom: -3.75rem;
  padding: 1.25rem; }

.card_imgdos {
  width: 6.875rem;
  align-self: center;
  margin-top: 0.625rem;
  margin-bottom: -3.75rem; }

.card_imgtres {
  width: 11.25rem;
  align-self: center;
  margin-top: 2.188rem;
  margin-bottom: -3.125rem; }

.card_imgcuatro {
  width: 15.625rem;
  align-self: center;
  margin-top: 2.5rem;
  margin-bottom: -2.5rem; }

.card_one {
  background-color: #D6E8F7;
  border-color: #D6E8F7;
  color: #CB962E;
  height: 28.313rem;
  margin-top: 0.625rem; }

.card_two {
  background-color: #F1DFB6;
  border-color: #F1DFB6;
  color: #EF601E;
  width: 28.125rem;
  height: 18.75rem; }

.card_three {
  background-color: #CAAACD;
  border-color: #CAAACD;
  color: #F1DFB6;
  width: 28.125rem;
  height: 18.75rem; }

.card_four {
  background-color: #EF601E;
  border-color: #EF601E;
  color: #D6E8F7;
  width: 28.125rem;
  height: 18.75rem; }

.card_five {
  background-color: #EF601E;
  border-color: #EF601E;
  color: #D6E8F7;
  width: 28.125rem;
  height: 18.75rem; }

.card_six {
  background-color: #D6E8F7;
  border-color: #D6E8F7;
  color: #CAAACD;
  width: 28.125rem;
  height: 18.75rem; }

.card_seven {
  background-color: #F1DFB6;
  border-color: #F1DFB6;
  color: #EF601E;
  width: 28.125rem;
  height: 18.75rem; }

.grid {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 0.25fr;
  grid-template-rows: 0.25fr 1fr 1fr 2fr 0.25fr;
  gap: 10px; }

.title {
  grid-column: 2/3;
  grid-row: 2/4;
  margin-top: 55px;
  margin-left: 45px; }

.subtitle {
  margin-left: 30px;
  margin-top: -15px; }

.card_uno {
  grid-column: 2/3;
  grid-row: 3/5;
  background-position: center; }

.card_dos {
  grid-column: 3/4;
  grid-row: 2/4;
  background-position: center; }

.card_tres {
  grid-column: 4/5;
  grid-row: 2/4;
  background-position: center; }

.card_cuatro {
  grid-column: 5/6;
  grid-row: 2/4;
  background-position: center; }

.card_cinco {
  grid-column: 3/4;
  grid-row: 4/5;
  background-position: center; }

.card_seis {
  grid-column: 4/5;
  grid-row: 4/5;
  background-position: center; }

.card_siete {
  grid-column: 5/6;
  grid-row: 4/5;
  background-position: center; }

.nav_reg {
  color: #EF601E;
  font-size: 1.25rem; }

.card_reg {
  padding-left: 4.375rem;
  padding-top: 3.75rem;
  padding-bottom: 3.125rem;
  justify-content: center; }

.card-reg {
  width: 66.875rem;
  border-radius: 1.563rem;
  background-color: #FDF3DD;
  border-color: #F1DFB6;
  border-width: 0.625rem; }

.card-body {
  margin: 3.125rem;
  color: #EF601E; }

.card-title {
  font-family: "Berkshire Swash", cursive; }

.reg-img {
  margin: 1.75rem; }

.btn-primary {
  background-color: #F1DFB6;
  border-color: #F1DFB6;
  color: #EF601E;
  width: 39.063rem; }
  .btn-primary:hover {
    background-color: #EF601E;
    color: #FDF3DD;
    border-color: #EF601E; }
