.nav-mnsj{
    color: $azul;
}

.card-mnsj{
    color: $azul;
}

.btn-taller{
    background-color: $rosa;
    border-color: $rosa;
    color: $violeta;
    width: 39.063rem;
    &:hover{
        background-color: $lila;
        color: $color-fondo;
        border-color: $lila;
    }
}

.tall-prox{
margin-top: 70px;
}

.btn-reiki{   
    background-color: $rosa;
    border-color: $rosa;
    color: $azul;
    width: 39.063rem;
    margin-top: 150px;
    &:hover{
        background-color: $azul;
        color: $color-fondo;
        border-color: $azul;
    }
}


