.nav-fondo{
    background-color: $rosa;
}

.nav-link{
    color: $rojo;
    font-size: 16px;
    font-family: $fuente-principal;
    font-weight: bold;
    &:hover{
        color: black;
    }

}

/* .separator::after{
        content: " ";
        height: 4px;
        width: 0;
        color: black;
        display: block;
        transition: all 300ms;
    }

.separator:hover::after{
    width: 100%;
} */

.separator::after{
        content: "   |";
        width: 0.313rem;
        height: 1.25rem;
} 


.logo{
    width: 2.5rem;
}

.page_active{
    text-decoration: underline;
}