*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow-x: hidden;
}

main{
    background-color: $color-fondo;
}

a{
    text-decoration: none;    
}

h1{
    font-family: $fuente-principal;
    font-weight: lighter;
    font-size: 3.125rem;
}

p{
    font-family: $fuente-principal;
}

.font-color{
    color: $color-texto;
}

