/* FUENTES */
$fuente-principal: 'Marcellus', serif;
$fuente-secundaria: 'Berkshire Swash', cursive;

/* COLORES */
$color-fondo: #FDF3DD;
$color-texto: #373D3B;
$celeste: #D6E8F7;
$lila: #CAAACD;
$marron: #CB962E;
$rojo: #EF601E;
$rosa: #F1DFB6;
